#geral{
  margin-top: 30px;
}
.ex-modal{
  margin-left: 15px;
  font-style: italic;
}
.idioma-modal{
  background-color: #FFF;
  border-color: #FFF;
  border:none;
  color: #004E9A
}
.idioma-modal:hover{
  color: #003E7B;
  text-decoration: underline;
}

#modal-texto-btn-2{
  color: #fff;
}
#modal-texto-btn-2:hover{
  text-decoration: none
}

.btn-help{
  font-size: 25px ;
  color: #EB8823;
}
.btn-help:hover{
 color: #ff8002;
}

.btn-help-su{
  float: right;
}

.ativado{
  background-color: #ff8002;
  color: #fff;
  border-color: #ff8002;
}

button:focus {
  outline:none!important;
  box-shadow: none!important;
}

.fa-university, .fa-globe-americas, .fa-truck{
  font-size: 22px;
  padding-left: 4px;
}


#emailLabel, #telefone{
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.btn-primary:hover, .btn-outline-primary:hover{
  background-color: #003E7B!important;
  border-color: #003E7B!important;
  color: #FFF!important
}

.btn-layout:hover{
  background-color: #EB8823!important;
  color: #fff!important;
  border-color: #EB8823!important;
}
#prev{
  margin-left: 5px
}

#assinatura{
  display: none;
}
#btn-sec{
  padding-left: 5px!important;
}
#btn-help2, #btn-help1{
  background-color: #fff
}
#btn-help2{
  float: right;
  margin-top: -8px;
}



@media only screen and (min-width: 767px) {
    .btn-su {
      margin-top: 31px!important;
    }
  }

  @media only screen and (max-width: 538px) {
    .btn-layout-ass-Banco-Urbano{
      margin: 10px 0 10px 0!important;
    }
  }
  
  @media only screen and (max-width: 400px) {
    .btn-layout-ass-Banco-Urbano{
      margin: 10px 0 10px 0!important;
    }
  }
